"*":
  "atom-beautify":
    general:
      _analyticsUserId: "bf809cc7-925f-4f6a-b492-90a60a8b4c15"
    python: {}
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "language-gfm"
    ]
    telemetryConsent: "limited"
  editor:
    softWrap: true
  "exception-reporting":
    userId: "2ff83acb-d660-c289-39a8-f8500d36a6a6"
  runner:
    extensions:
      py: "/usr/local/bin/python3"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
